.login-content {
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    border-color: transparent;
    padding: 1rem 2rem 0 2rem;
    margin: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* box-shadow: 0 0 .4rem .450rem rgba(200, 200, 200, 0.4); */
}
@media(min-width: 340px){
    .login-content {
        padding-left: 20px;
        padding-right: 20px;
        min-width: 320px;
    }
}



/*------------------------------------
    LOGIN HEADER
------------------------------------*/
.login-header {
    padding-bottom: .6rem;
}
.login-header h4 {
    color: #303030;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1.250rem;
}
.login-header svg {
    height: 70px;
    width: 70px;
    margin-bottom: 1rem;
}


.login-header button {
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    color: #303030;
    border-radius: 8px;
    border: 1px solid #303030;
    padding: 0.350rem 0;
    transition: .25s;
    outline: none;
}

.login-header button:hover {
    transform: scale(1.01);
}
.login-header button svg {
    height: 27px;
    width: 27px;
    margin: 0;
}
.login-header .or {
    font-size: 17px;
    font-weight: 500;
    color: #505050;
    position: relative;
    margin-top: 1rem;
}
.login-header .or ::before{
    content: "";
    display: block;
    width: 44%;
    height: 1px;
    left: 1px;
    top: 50%;
    background: #aaaaaa;
    position: absolute;
}
.login-header .or ::after{
    content: "";
    display: block;
    width: 44%;
    height: 1px;
    right: 1px;
    top: 50%;
    background: #aaaaaa;
    position: absolute;
}


/*------------------------------------
    LOGIN BODY
------------------------------------*/
.login-body {
    padding-top: .5rem;
}
.login-body a {
    font-size: 13px;
}


.form-control , .form-control:hover , .form-control:focus , .form-control:active {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #000000;
}
.form-control::placeholder{
    color: #505050;
}


.input-group:not(.exception) {
    padding: 0 7px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-radius: 0;
    border-color: #008cff;
    transition: 250ms;
}


.input-group svg {
    height: 20px;
    width: 20px;
    margin-top: 9px;
}

.input-group button#eyes {
    border: none;
    padding: 0;
    margin: 0 0 7px 0;
    background-color: transparent;
}

.input-group button#eyes:focus {
    border: none;
    outline: none;
}


.login-body input[type=checkbox] {
    height: 11px;
    width: 11px;
}

.login-body label {
    font-size: 14px;
}

.login-body button.btn {
    margin-top: 1.5rem;
    font-size: 19px;
    font-weight: 600;
}


/*------------------------------------
    LOGIN FOOTER
------------------------------------*/
.login-footer {
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-width: 1px 0 0 0;
    border-radius: 0;
    border-style: solid;
    border-color: #aaaaaa;
    font-size: 16px;
}
.login-footer a {
    font-weight: 750;
    font-size: 18px;
    word-spacing: 0.05rem;
}


/*------------------------------------
    PAGE FOOTER
------------------------------------*/
footer {
    padding-top: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
footer a {
    color: #707070;
    font-size: 13px;
    font-weight: 550;
    letter-spacing: 0.050rem;
}
footer a:hover {
    text-decoration: none;
    color: #008cff;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #008cff;
}

footer .terms li {
    display: inline;
}
footer .terms li:not(:last-child) {
    border-width: 0 1px 0 0;
    border-color: #707070;
    border-style: solid;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.footer .terms li:last-child {
    padding-left: 0.5rem;
    padding-right: 0;
}
