@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.signing-content {
    border: 0;
    padding: 1rem 2rem 0 2rem;
    margin: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media(min-width: 340px){
    .signing-content {
        padding-left: 20px;
        padding-right: 20px;
        min-width: 320px;
    }
}



/*------------------------------------
    LOGIN HEADER
------------------------------------*/
.signing-header {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: .75rem;
}
.signing-header h4 {
    color: #303030;
    font-size: 32px;
    margin-bottom: 1.250rem;
}
.signing-header svg {
    height: 70px;
    width: 70px;
    margin-bottom: 1rem;
}


.signing-header button {
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    color: #303030;
    border-radius: 8px;
    border: 1px solid #303030;
    padding: 0.350rem 0;
    transition: .25s;
    outline: none;
}

.signing-header button:hover {
    transform: scale(1.01);
}
.signing-header button svg {
    height: 27px;
    width: 27px;
    margin: 0;
}
.signing-header .or {
    font-size: 17px;
    font-weight: 500;
    color: #252525;
    top: 1rem;
    position: relative;
}
.signing-header .or ::before{
    content: "";
    display: block;
    width: 44%;
    height: 1px;
    left: 1px;
    top: 50%;
    background: #aaaaaa;
    position: absolute;
}
.signing-header .or ::after{
    content: "";
    display: block;
    width: 44%;
    height: 1px;
    right: 1px;
    top: 50%;
    background: #aaaaaa;
    position: absolute;
}


/*------------------------------------
    LOGIN BODY
------------------------------------*/
.signing-body {
    padding-top: .5rem;
    text-align: center;
}
.signing-body a {
    font-size: 13px;
}
.form-control , .form-control:hover , .form-control:focus , .form-control:active {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #000000;
}
.form-control::placeholder{
    color: #505050;
    font-weight: 500;
}

.input-group .input-label {
    position: absolute;
    bottom: 6px;
    left: 39px;
    font-size: 17px;
    color: #505050;
    transition: ease-in-out 350ms , color 350ms;
}

.input-group {
    padding: 5px;
    padding-bottom: 0;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-radius: 0;
    border-color: #aaaaaa;
    transition: ease-in-out 350ms , border-color 350ms;
}
.input-group span svg {
    height: 20px;
    width: 20px;
    margin-top: 8px;
}

.input-group button#eyes {
    border: none;
    padding: 0;
    margin: 0 0 8px 0;
    background-color: transparent;
}

.input-group button#eyes:focus {
    outline: none;
}


.signing-body input[type=checkbox] {
    height: 11px;
    width: 11px;
}

.signing-body label {
    font-size: 14px;
}

.signing-body button.btn {
    margin-top: 1.5rem;
    font-size: 19px;
    font-weight: 600;
}


/*------------------------------------
    LOGIN FOOTER
------------------------------------*/
.signing-footer {
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-width: 1px 0 0 0;
    border-radius: 0;
    border-style: solid;
    border-color: #aaaaaa;
    font-size: 16px;
    text-align: center;
}
.signing-footer a {
    font-weight: 750;
    font-size: 18px;
    word-spacing: 0.05rem;
}


/*------------------------------------
    PAGE FOOTER
------------------------------------*/
footer {
    padding-top: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
footer a {
    color: #707070;
    font-size: 13px;
    font-weight: 550;
    letter-spacing: 0.050rem;
}
footer a:hover {
    text-decoration: none;
    color: #008cff;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #008cff;
}

footer .terms li {
    display: inline;
    box-sizing: border-box;
}
footer .terms li:not(:last-child) {
    border-width: 0 1px 0 0;
    border-color: #707070;
    border-style: solid;
    padding-left: 8px;
    padding-right: 6px;
}
.footer .terms li:last-child {
    padding-left: 6px;
    padding-right: 0;
}
