.signing-content {
    border: 0;
    padding: 0 2rem 0 2rem;
    margin: 5rem 1rem 1.5rem 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
@media(min-width: 340px){
    .signing-content {
        padding-left: 20px;
        padding-right: 20px;
        min-width: 360px;
    }
}



/*------------------------------------
    LOGIN HEADER
------------------------------------*/
.signing-header {
    text-align: center;
    margin-bottom: .75rem;
}
.signing-header h4 {
    color: #002333;
    font-size: 30px;
    margin-bottom: 1.250rem;
}
.signing-header svg {
    height: 70px;
    width: 70px;
    margin-bottom: 1rem;
}


.signing-header button {
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    color: #002333;
    border-radius: 10px;
    border: 1px solid #002333;
    padding: 0.350rem 0;
    transition: 250ms;
    outline: none;
}
.signing-header button:hover {
    box-shadow: 0 0 .4rem .2rem rgba(0, 35, 51, .2);
}
.signing-header button svg {
    height: 27px;
    width: 27px;
    margin: 0;
}


.signing-header .or {
    font-size: 17px;
    font-weight: 600;
    color: #002333;
    top: 1rem;
    position: relative;
}
.signing-header .or ::before{
    content: "";
    display: block;
    width: 44%;
    height: 1px;
    left: 1px;
    top: 50%;
    background: #002333;
    position: absolute;
}
.signing-header .or ::after{
    content: "";
    display: block;
    width: 44%;
    height: 1px;
    right: 1px;
    top: 50%;
    background: #002333;
    position: absolute;
}


/*------------------------------------
    LOGIN BODY
------------------------------------*/
.signing-body {
    padding-top: 1.5rem;
    font-size: 13px;
}


.form-group {
    position: relative;
    transition: all 250ms;
}
.form-group.has-input {
    padding-bottom: 1.25rem;
    margin-bottom: 1rem;
} 

.form-control , .form-control:hover , .form-control:focus , .form-control:active {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #000000;
    font-size: 14px;
}
input:-webkit-autofill ,
input:-webkit-autofill:hover , 
input:-webkit-autofill:focus ,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #002333 !important;
    box-shadow: 0 0 0px 1000px #f2f3f5 inset !important;
    transition: all 0s;
}


.input-group .input-label {
    position: absolute;
    bottom: 7px;
    left: 37px;
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 100;
    transition: ease-in-out 300ms, color 250ms;
}
.input-group .input-label-focused {
    bottom: 32px;
    left: 0;
    color: #008cff;
    font-size: 12px;
    font-weight: 200;
}


.input-group {
    padding: 5px 5px 1px 5px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-radius: 0;
    border-color: #5c5c5c;
    transition: all 250ms;
}
.input-group-focused {
    border-width: 0 0 2px 0;
    border-color: #008cff;
    padding-bottom: 0;
}
.input-group span svg {
    height: 20px;
    width: 20px;
    margin-top: 7px;
}


.invalid-message {
    position: absolute;
    left: 7px;
    bottom: -0.25rem;
    color: #dc3545;
    font-size: 12px;
    transition:  all 300ms;
}
.invalid-message .err-sign{
    width: 20px;
    height: 20px;
    margin-right: 7px;
    margin-bottom: 2px;
}


.input-group button#eyes {
    border: none;
    padding: 0;
    margin-bottom: 4px;
    margin-right: 4px;
    background-color: transparent;
}
.input-group button#eyes:focus {
    outline: none;
}


.signing-body input#remember {
    height: 11px;
    width: 11px;
}

.signing-body button.btn {
    font-size: 19px;
    font-weight: 500;
}


/*------------------------------------
    LOGIN FOOTER
------------------------------------*/
.signing-footer {
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-width: 1px 0 0 0;
    border-radius: 0;
    border-style: solid;
    border-color: #002333;
    font-size: 16px;
    text-align: center;
}
.signing-footer a {
    font-weight: inherit;
    font-size: inherit;
}


/*-------------------------------------------------------
    PAGE FOOTER
-------------------------------------------------------*/
footer {
    padding-top: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
footer a {
    color: #707070;
    font: inherit;
}
footer a:hover {
    text-decoration: none;
    color: #008cff;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #008cff;
}

footer .terms li {
    display: inline;
    box-sizing: border-box;
}
footer .terms li:not(:last-child) {
    border-width: 0 1px 0 0;
    border-color: #707070;
    border-style: solid;
    padding-left: 8px;
    padding-right: 6px;
}
.footer .terms li:last-child {
    padding-left: 6px;
    padding-right: 0;
}